In [1]:
ss = '공부가 즐겁다. 공부가 재밌다'

In [2]:
ss.count('공부')

2

In [4]:
ss.find('공부')

0

In [5]:
print(ss.find('공부'), ss.rfind('공부'), ss.find('공부', 4), ss.find('없다'))

0 9 9 -1

In [6]:
ss = 'python을 열심히 공부중'

In [7]:
ss.split()

['python을', '열심히', '공부중']

In [10]:
ss.split('a')

['python을 열심히 공부중']

In [11]:
ss = 'hello\nworld\n!'

In [12]:
ss.splitlines()

['hello', 'world', '!']

In [13]:
ss = '%'

In [15]:
ss.join('안녕하세요')

'안%녕%하%세%요'

In [19]:
dict1 = {'a': 123, 'b': 12}

In [20]:
dict1

{'a': 123, 'b': 12}

In [22]:
dict2 = {'a': dict1, 'b': dict()}

In [23]:
dict2

{'a': {'a': 123, 'b': 12}, 'b': {}}

In [31]:
student1 = {'학번': 20202020, '이름': '홍길동', '연락처': '01012341234'}

In [35]:
student1

{'학번': 20202020, '이름': '홍길동', '연락처': '01012341234'}

In [ ]:
student1.get('이름')

In [38]:
lst = [(1, 2), (2, 3), (5, 6)]
for (a, b) in lst:
    print(a + b)

3
5
11

In [43]:
nums = [1, 2, 3, 4]

result1 = []
for num in nums:
    result1.append(num * 3)

result1

[3, 6, 9, 12]

In [44]:
result2 = [num * 3 for num in nums]
result2

[3, 6, 9, 12]